.nav{
    height: 200px;
    width: 200px;
    background-color: blue;
    padding: 25px;
    border:solid 10px;

}
.body{
    background-color: gold;
    height:200px;
    width: 200px;
    padding: 20px;
    margin-left: 260px;
    
    
    
}